body{
  background-color: #b0b0b0;
  font-family: Chelsea Market;
}

.background {
  background-color: #c6ffb3;
  display: inline-block;
  animation-name: homeone;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  position: fixed;
  width: 100%;
  height: 0%;
  left: 0%;
  top: 0%;
  z-index: -5;
}

.topbar{
  background-color: #8f8f8f;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 7%;
  top: 0px;
  left: 0px;
}

.logo{
  width: 50px;
  height: 50px;
  display: inline-block;
}

.icon{
  z-index: 3;
  display: inline-block;
  position: relative;
  top: 8%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0.15%;
}

.topbarone{
  background-color: #5c5c5c;
  display: inline-block;
  position: relative;
  width: 10%;
  height: 75%;
  top: 8%;
  border-radius: 50px;
  transition-duration: 0.5s;
  padding-right: 5px;
}

.topbarone:hover{
  border-radius: 10px;
  background-color: #9780ff;
}

.topbaronecontent{
  display: inline-block;
  position: absolute;
  top: 25%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.topbartwo{
  background-color: #5c5c5c;
  display: inline-block;
  position: relative;
  width: 10%;
  height: 75%;
  top: 8%;
  border-radius: 50px;
  transition-duration: 0.5s;
  padding-right: 5px;
}

.topbartwo:hover{
  background-color: #9fff80;
  border-radius: 10px;
}

.topbartwocontent{
  display: inline-block;
  position: absolute;
  top: 25%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.divanchor{
  text-decoration: none;
  color: #000000;
}

.WIP{
  position: fixed;
  top: 25%;
  left: 1%;
  font-size: 900%;
  transform: rotate(-30deg);
}

.maincontentone{
  position: absolute;
  top: 60px;
  left: 0px;
  width: 100%;
  height: 520px;
  z-index: 2;
}

.BoonMoon{
  opacity: 0;
  position: absolute;
  animation-name: maincontentone;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.19,.91,.29,1.16);
}

.CStarLam{
  opacity: 0;
  position: absolute;
  animation-name: maincontentone;
  animation-duration: 1.5s;
  animation-delay: 2.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.19,.91,.29,1.16);
}

.Oodum{
  opacity: 0;
  position: absolute;
  animation-name: maincontentone;
  animation-duration: 1.5s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.19,.91,.29,1.16);
}

.Envy{
  opacity: 0;
  position: absolute;
  animation-name: maincontentone;
  animation-duration: 1.5s;
  animation-delay: 2.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.19,.91,.29,1.16);
}

.SuperLean{
  opacity: 0;
  position: absolute;
  animation-name: maincontentone;
  animation-duration: 1.5s;
  animation-delay: 2.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.19,.91,.29,1.16);
}

.creditlogo{
  height: 100px;
  border-radius: 50px;
  left: 10px;
  display: block;
  position: absolute;
  margin: 10px;
  box-shadow: 0px 0px 0px 0px #88ad7b;
  animation-name: logoborder;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 0;
  animation-play-state: infinite;
  transition-duration: 0.5s;
}

.creditlogo:hover{
  animation-play-state: running;
  animation-iteration-count: infinite;
}

@keyframes homeone {
  0% {opacity: 0.1;}
  100% {opacity: 1; height: 100%}
}

@keyframes maincontentone {
  0% {opacity: 0; left: 20%}
  100% {opacity: 1; left: 0%;}
}

@keyframes logoborder {
  0%{box-shadow: 0px 0px 0px 0px #88ad7b;}
  50%{box-shadow: 0px 0px 0px 5px #e09d9d;}
  100%{box-shadow: 0px 0px 0px 0px #88ad7b;}
}

::-webkit-scrollbar {
  display:none;
}
